/*
 Theme Name:   SwapnilPatil
 Theme URI:    swapnilpatil.in
 Description:  A Child theme for swapnilpatil.in
 Author:       Swapnil V. Patil
 Author URI:   swapnilpatil.in
 Template:     hired_mt
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  swapnilpatil
*/

@import url("../hired_mt/style.css");

/* Add your custom css below
-------------------------------------------------------------- */

/* Enter Your Custom CSS Here */
#home-content h1 {
    font-size: 36px;
    line-height: 35px;
    text-align: -webkit-center;
}

#home-content {
    width: 460px;
    padding: 15px 50px 15px 150px;
    }
#home-content button:hover {
//background-color: #EE7E30;
color: #ee7e30;
}

@media only screen 
and (max-width : 320px) {
#home-content {
    padding: 15px 50px 15px 95px;
}
}
.blog-archive-container article .entry-title a:hover {
    color: #ee7e30;
}